@import './vars.less';

.centro{
	.centralizar;
}

h1#pagenotfound{
	display: block;
	text-align: center;
	margin:60px 0;
	padding:100px 0;
	color:@verde;
	.ubuntu(30px);
}

body{
	header{
		min-width:980px;
		#aux-nav{
			height:16px;
			padding: 10px 0;
			background:url('../images/layout/bg.png');
			.telefone{
				float:left;
				height:16px;
				line-height:16px;
				color:#fff;
				.ubuntu(13px, bold);
				padding-left:22px;
				background:url('../images/layout/icone-telefone.png') left center no-repeat;
				small{font-size:10px;}
			}
			ul{
				float:right;
				height:16px;
				line-height:16px;
				border-left:1px #92DCD7 solid;
				li{
					.inline;
					a{
						height:16px;
						border-right:1px #92DCD7 solid;
						padding:0 10px;
						display:block;
						text-decoration:none;
						color:#fff;
						img{
							float:left;
							margin-top: -4px;
							margin-right: 5px;
						}
						.ubuntu(11px, bold);
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover{
							color:#CAEF9E;
						}
						&.fb-link{
							padding:0 14px;
							overflow:hidden;
							text-indent: -1000px;
							background:url('../images/layout/social-facebook.png') center center no-repeat;
							.transition;
							&:hover{
								background:url('../images/layout/social-facebook-hover.png') center center no-repeat;
							}
						}
						&.tw-link{
							padding:0 14px;
							overflow:hidden;
							text-indent: -1000px;
							background:url('../images/layout/social-twitter.png') center center no-repeat;
							.transition;
							&:hover{
								background:url('../images/layout/social-twitter-hover.png') center center no-repeat;
							}
						}
						&.lk-link{
							padding:0 14px;
							overflow:hidden;
							text-indent: -1000px;
							background:url('../images/layout/social-linkedin.png') center center no-repeat;
							.transition;
							&:hover{
								background:url('../images/layout/social-linkedin-hover.png') center center no-repeat;
							}
						}
					}
				}
			}
		}
		nav{
			-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);
			box-shadow: 0 2px 3px rgba(0,0,0,.3);
			position:relative;
			z-index:999999;
			height:125px;
			#link-home{
				float:left;
				margin-top:20px;
			}
			ul#main-nav{
				height:125px;
				float:right;
				font-size: 0;
				& > li{
					height:125px;
					position:relative;
					.inline;
					&:hover a, a.ativo{
						color:@verde;
						background:url('../images/layout/marcacao-menu.png') #F8F8F8 center bottom no-repeat;
					}
					a{
						padding:0 15px;
						height:124px;
						line-height:124px;
						display:block;
						text-decoration:none;
						color:#787878;
						text-transform:uppercase;
						position:relative;
						background:url('../images/layout/marcacao-menu.png') #FFF center 130px no-repeat;
						.ubuntu(14px);
						.transition;
						&:active{color:#787878;}
						.seta{
							.inline;
							margin-left:2px;
							width:7px;
							height:7px;
							vertical-align: 2px;
							background:url('../images/layout/seta-dropdown.png') center center no-repeat;
						}
					}
					&.comsub{
						&:hover{
							ul.submenu{
								height:auto;
								opacity:1;
								overflow:visible !important;
								li, li a{
									opacity:1;
									height:35px;
								}
								&:before{opacity:1;}
							}
						}
						ul.submenu{
							white-space: nowrap;
							min-width:187px;
							position:absolute;
							z-index:9999;
							top:125px;
							opacity:0;
							height:0px;
							overflow:hidden;
							&:before{
								content:"";
								position:absolute;
								top:-4px;
								left:0px;
								height:3px;
								width:100%;
								background: @amarelo;
								opacity:0;
								.transition;
							}
							li{
								height:0;
								opacity:0;
								.transition;								
								a{
									height:0;
									opacity:0;									
									line-height:35px;
									text-transform:none;
									display:block;
									background:@verde;
									color:#fff;
									.ubuntu(13px);
									.transition;
									&:active, &:visited{color:#fff;}
									&:hover{
										background:@amarelo;
										color:#3B7F75;
									}
								}
							}		
						}
					}
				}
			}
		}
	}
	.main{
		.cke{
			p{
				.ubuntu(14px);
				color: #333;
				line-height: 1.6;
				margin:13px 0;
			}
			ol {
				.ubuntu(14px);
				color: #333;
				line-height: 1.6;
			    counter-reset:li; /* Initiate a counter */
			    margin-left:-7px; /* Remove the default left margin */
			    padding-left:0; /* Remove the default left padding */
			}
			ol > li {
			    position:relative; /* Create a positioning context */
			    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
			    padding:4px 8px; /* Add some spacing around the content */
			    list-style:none; /* Disable the normal item numbering */    
			}
			ol > li > p{
				margin:0;
			}
			ol > li:before {
			    content:counter(li) ")";
			    counter-increment:li;
			    position:absolute;
			    top:0;
			    left:-2em;
			    -moz-box-sizing:border-box;
			    -webkit-box-sizing:border-box;
			    box-sizing:border-box;
			    width:2em;
			    margin-right:8px;
			    padding:4px;
			    color:#036196;
			    font-weight: bold;
			    font-family:"Ubuntu", Arial, sans-serif;
			    text-align:center;
			}
			li ol,
			li ul {margin-top:6px;}
			ol ol li:last-child {margin-bottom:0;}

			ul {
				.ubuntu(14px);
				color: #333;
				line-height: 1.6;
			    margin-left:-7px;
			    padding-left:0;
			}
			ul > li {
			    position:relative;
			    margin:0 0 6px 2em;
			    padding:4px 8px;
			    list-style:none;
			}
			ul > li > p{
				margin:0;
			}
			ul > li:before {
			    content:"";
			    position:absolute;
			    top:10px;
			    left:-2em;
			    -moz-box-sizing:border-box;
			    -webkit-box-sizing:border-box;
			    box-sizing:border-box;
			    width:2em;
			    margin-right:8px;
			    padding:4px;
			    color:#98CC23;
			    font-weight: bold;
			    font-family:"Ubuntu", Arial, sans-serif;
			    text-align:center;
			    background:url('../images/layout/bullet-verde.png') center center no-repeat;
			}
			li ul,
			li ul {margin-top:6px;}
			ul ul li:last-child {margin-bottom:0;}			
			strong{
				font-weight:bold;
			}
			a{
				color:@azul_escuro;
				.transition;
				&:active, &:visited{color:@azul_escuro;}
				&:hover{color:@verde;}
			}
		}
		#faixa-azul-titulo{
			height: 100px;
			background:url('../images/layout/bg-titulo.png') no-repeat center #62BBB1;
			color:#fff;
			line-height:100px;
			display:block;
			margin-bottom:35px;
			.ubuntu(35px);
			h1{
				text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
			}
			span{
				color:#EADC75;
				.ubuntu(14px);
				vertical-align:7px;
				margin-right:3px;
			}
		}		
	}
	.barra-servicos{
		min-width:980px;
		height:237px;
		background:#F2F2F2;
		border-top: 1px solid #E5E5E5;
		.conheca{
			height:236px;
			background:url('../images/layout/conheca-bg.png') right top no-repeat;
			width:230px;
			padding-left:100px;
			margin-left:-100px;
			overflow:hidden;
			float: left;
			.linha{
				height:35px;
				line-height:35px;
				.ubuntu(24px, 300);
				color:#A0A0A0;
				display:block;
				&.linha1{margin-top:55px; margin-left:22px;}
				&.linha2{margin-left:30px;}
				&.linha3{}
			}
		}
		.solucoes{
			width: 740px;
			height: 236px;
			float: right;
			a{
				display:block;
				height:100%;
				float: left;
				text-decoration:none;
				text-align: center;
				padding-right: 55px;
				.transition;
				span{
					.ubuntu(22px,300);
				}
				.icone{
					width:95px;
					height:95px;
					position: relative;
					margin: 38px auto 0;
					.transition;
				}
				.sombra{
					width: 95px;
					height: 30px;
					margin: 0 auto 12px;
					background:url('../images/layout/icone-sombra.png') no-repeat center;
					-ms-transform: scale(.5);
				    -webkit-transform: scale(.5);
				    transform: scale(.5);
				    .transition;
				}
				&.recrutamento-e-selecao{
					span{ color: #57ADA1; }
					.icone{background:url('../images/layout/icone-recrutamento.png') no-repeat center;}
				}
				&.temporarios{
					span{ color: #A6C28B; }
					.icone{background:url('../images/layout/icone-temporarios.png') no-repeat center;}
				}
				&.outsourcing-bpo{
					span{ color: #BFAF40; }
					.icone{background:url('../images/layout/icone-bpo.png') no-repeat center;}
				}
			}
			&:hover > a {
				opacity: .4;
			}
			&:hover > a:hover{
				opacity:1;
				.sombra{
					-ms-transform: scale(1);
				    -webkit-transform: scale(1);
				    transform: scale(1);
				}
				.icone{
					-ms-transform: translate(0,-10px); /* IE 9 */
				   	-webkit-transform: translate(0,-10px); /* Safari */
				    transform: translate(0,-10px);
				}
			}
		}
	}
	footer{
		min-width:980px;
		border-top:5px @verde solid;
		background:url('../images/layout/bg.png');
		.centro{
			padding:30px 0;
			background:url('../images/layout/footer-detalhe.png') no-repeat top center;
		}
		.footer-coluna{
			.inline;
			ul.topmenu{
				list-style-type:none; 
				line-height:100%;
				max-width: 210px;
				li{
					margin-top:20px;
					display:block;
					&:first-child{margin-top:0;}
					a{
						padding-left:18px;
						background:url('../images/layout/bullet-footer.png') left 6px no-repeat;
						color:#CAEF9E;
						display: block;
						line-height: 115%;
						text-transform: uppercase;
						text-decoration:none;
						.ubuntu(16px, bold);
						.transition;
						&:active, &:visited{color:#CAEF9E;}
						&:hover{
							color:#fff;
							background:url('../images/layout/bullet-footer-hover.png') left 6px no-repeat;
						}
					}
					&.comsub{
						ul.submenu{
							list-style-type:none; 
							line-height:100%;
							padding-left:18px;
							li{
								margin-top:5px;
								display:block;
								padding-left:15px;
								background:url('../images/layout/bullet-seta.png') left 4px no-repeat;
								a{
									padding-left: 0;
									background:none;
									color:#fff;
									text-transform: none;
									.ubuntu(14px);
									.transition;
									&:active, &:visited{color:#fff;}
									&:hover{color:#46857F;}
								}
							}
						}
					}
				}
			}			
		}
		.coluna1{
			width:260px;
			min-height: 255px;
		}
		.coluna2{
			min-height: 265px;
			width:325px;
			position:relative;
			.grupo{
				position:absolute;
				left:0;
				bottom:0;
				margin-top:40px;
				p{
					margin-right:3px;
					padding-top:7px;
					.calibri(11px);
					line-height:125%;
					text-align:left;
					color:#fff;
					display: block;
					margin-bottom: 7px;
					margin-left: 52px;
				}
			}
		}
		.coluna3{
			float:right;
			width:300px;
			text-align: right;
			min-height: 255px;
			position:relative;
			.social{
				margin-bottom:28px;
				.fb-link{
					.inline;
					.transition;
					width:36px;
					height:36px;
					overflow:hidden;
					text-indent: 400px;
					line-height:100%;
					font-size:10px;
					background:url('../images/layout/footer-facebook.png') center center no-repeat;
					&:hover{
						background:url('../images/layout/footer-facebook-hover.png') center center no-repeat;
					}
				}
				.tw-link{
					.inline;
					.transition;
					width:36px;
					height:36px;
					overflow:hidden;
					text-indent: 400px;
					line-height:100%;
					font-size:10px;
					background:url('../images/layout/footer-twitter.png') center center no-repeat;
					&:hover{
						background:url('../images/layout/footer-twitter-hover.png') center center no-repeat;
					}
				}
				.lk-link{
					.inline;
					.transition;
					width:36px;
					height:36px;
					overflow:hidden;
					text-indent: 400px;
					line-height:100%;
					font-size:10px;
					background:url('../images/layout/footer-linkedin.png') center center no-repeat;
					&:hover{
						background:url('../images/layout/footer-linkedin-hover.png') center center no-repeat;
					}
				}
			}
			.telefone{
				color:#fff;
				margin-bottom:10px;
				.ubuntu(42px);
				small{font-size: 18px;}
			}
			.endereco{
				color:#fff;
				line-height: 120%;
				.calibri(13px);
			}
			.privacy{
				.calibri(12px);
				margin-top: 20px;
				float: right;
				text-decoration: none;
				color: #46857F;
				.transition;
 				&:hover{color:#fff;}
			}
			.assinatura{
				position: absolute;
				bottom:0;
				right:0;
				color:#46857F;
				.calibri(11px);
				a{
					float:right;
					width:227px;
					display:block;
					text-decoration:none;
					color:#46857F;
					margin-top:5px;
					.transition;
					&:active, &:visited{color:@azul_claro;}
					&:hover{color:#fff;}
					img{
						margin-left:4px;
						vertical-align: -3px;
					}
				}
			}
		}
	}
}
