@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
h1#pagenotfound {
  display: block;
  text-align: center;
  margin: 60px 0;
  padding: 100px 0;
  color: #4d9e90;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: normal;
}
body header {
  min-width: 980px;
}
body header #aux-nav {
  height: 16px;
  padding: 10px 0;
  background: url('../images/layout/bg.png');
}
body header #aux-nav .telefone {
  float: left;
  height: 16px;
  line-height: 16px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-left: 22px;
  background: url('../images/layout/icone-telefone.png') left center no-repeat;
}
body header #aux-nav .telefone small {
  font-size: 10px;
}
body header #aux-nav ul {
  float: right;
  height: 16px;
  line-height: 16px;
  border-left: 1px #92DCD7 solid;
}
body header #aux-nav ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body header #aux-nav ul li a {
  height: 16px;
  border-right: 1px #92DCD7 solid;
  padding: 0 10px;
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header #aux-nav ul li a img {
  float: left;
  margin-top: -4px;
  margin-right: 5px;
}
body header #aux-nav ul li a:active,
body header #aux-nav ul li a:visited {
  color: #fff;
}
body header #aux-nav ul li a:hover {
  color: #CAEF9E;
}
body header #aux-nav ul li a.fb-link {
  padding: 0 14px;
  overflow: hidden;
  text-indent: -1000px;
  background: url('../images/layout/social-facebook.png') center center no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header #aux-nav ul li a.fb-link:hover {
  background: url('../images/layout/social-facebook-hover.png') center center no-repeat;
}
body header #aux-nav ul li a.tw-link {
  padding: 0 14px;
  overflow: hidden;
  text-indent: -1000px;
  background: url('../images/layout/social-twitter.png') center center no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header #aux-nav ul li a.tw-link:hover {
  background: url('../images/layout/social-twitter-hover.png') center center no-repeat;
}
body header #aux-nav ul li a.lk-link {
  padding: 0 14px;
  overflow: hidden;
  text-indent: -1000px;
  background: url('../images/layout/social-linkedin.png') center center no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header #aux-nav ul li a.lk-link:hover {
  background: url('../images/layout/social-linkedin-hover.png') center center no-repeat;
}
body header nav {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 999999;
  height: 125px;
}
body header nav #link-home {
  float: left;
  margin-top: 20px;
}
body header nav ul#main-nav {
  height: 125px;
  float: right;
  font-size: 0;
}
body header nav ul#main-nav  > li {
  height: 125px;
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body header nav ul#main-nav  > li:hover a,
body header nav ul#main-nav  > li a.ativo {
  color: #4d9e90;
  background: url('../images/layout/marcacao-menu.png') #f8f8f8 center bottom no-repeat;
}
body header nav ul#main-nav  > li a {
  padding: 0 15px;
  height: 124px;
  line-height: 124px;
  display: block;
  text-decoration: none;
  color: #787878;
  text-transform: uppercase;
  position: relative;
  background: url('../images/layout/marcacao-menu.png') #ffffff center 130px no-repeat;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header nav ul#main-nav  > li a:active {
  color: #787878;
}
body header nav ul#main-nav  > li a .seta {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-left: 2px;
  width: 7px;
  height: 7px;
  vertical-align: 2px;
  background: url('../images/layout/seta-dropdown.png') center center no-repeat;
}
body header nav ul#main-nav  > li.comsub:hover ul.submenu {
  height: auto;
  opacity: 1;
  overflow: visible !important;
}
body header nav ul#main-nav  > li.comsub:hover ul.submenu li,
body header nav ul#main-nav  > li.comsub:hover ul.submenu li a {
  opacity: 1;
  height: 35px;
}
body header nav ul#main-nav  > li.comsub:hover ul.submenu:before {
  opacity: 1;
}
body header nav ul#main-nav  > li.comsub ul.submenu {
  white-space: nowrap;
  min-width: 187px;
  position: absolute;
  z-index: 9999;
  top: 125px;
  opacity: 0;
  height: 0px;
  overflow: hidden;
}
body header nav ul#main-nav  > li.comsub ul.submenu:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0px;
  height: 3px;
  width: 100%;
  background: #d5cb70;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header nav ul#main-nav  > li.comsub ul.submenu li {
  height: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header nav ul#main-nav  > li.comsub ul.submenu li a {
  height: 0;
  opacity: 0;
  line-height: 35px;
  text-transform: none;
  display: block;
  background: #4d9e90;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header nav ul#main-nav  > li.comsub ul.submenu li a:active,
body header nav ul#main-nav  > li.comsub ul.submenu li a:visited {
  color: #fff;
}
body header nav ul#main-nav  > li.comsub ul.submenu li a:hover {
  background: #d5cb70;
  color: #3B7F75;
}
body .main .cke p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  line-height: 1.6;
  margin: 13px 0;
}
body .main .cke ol {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  line-height: 1.6;
  counter-reset: li;
  /* Initiate a counter */

  margin-left: -7px;
  /* Remove the default left margin */

  padding-left: 0;
  /* Remove the default left padding */

}
body .main .cke ol > li {
  position: relative;
  /* Create a positioning context */

  margin: 0 0 6px 2em;
  /* Give each list item a left margin to make room for the numbers */

  padding: 4px 8px;
  /* Add some spacing around the content */

  list-style: none;
  /* Disable the normal item numbering */
}
body .main .cke ol > li > p {
  margin: 0;
}
body .main .cke ol > li:before {
  content: counter(li) ")";
  counter-increment: li;
  position: absolute;
  top: 0;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  margin-right: 8px;
  padding: 4px;
  color: #036196;
  font-weight: bold;
  font-family: "Ubuntu", Arial, sans-serif;
  text-align: center;
}
body .main .cke li ol,
body .main .cke li ul {
  margin-top: 6px;
}
body .main .cke ol ol li:last-child {
  margin-bottom: 0;
}
body .main .cke ul {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  line-height: 1.6;
  margin-left: -7px;
  padding-left: 0;
}
body .main .cke ul > li {
  position: relative;
  margin: 0 0 6px 2em;
  padding: 4px 8px;
  list-style: none;
}
body .main .cke ul > li > p {
  margin: 0;
}
body .main .cke ul > li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  margin-right: 8px;
  padding: 4px;
  color: #98CC23;
  font-weight: bold;
  font-family: "Ubuntu", Arial, sans-serif;
  text-align: center;
  background: url('../images/layout/bullet-verde.png') center center no-repeat;
}
body .main .cke li ul,
body .main .cke li ul {
  margin-top: 6px;
}
body .main .cke ul ul li:last-child {
  margin-bottom: 0;
}
body .main .cke strong {
  font-weight: bold;
}
body .main .cke a {
  color: #0c3455;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main .cke a:active,
body .main .cke a:visited {
  color: #0c3455;
}
body .main .cke a:hover {
  color: #4d9e90;
}
body .main #faixa-azul-titulo {
  height: 100px;
  background: url('../images/layout/bg-titulo.png') no-repeat center #62bbb1;
  color: #fff;
  line-height: 100px;
  display: block;
  margin-bottom: 35px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  font-weight: normal;
}
body .main #faixa-azul-titulo h1 {
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}
body .main #faixa-azul-titulo span {
  color: #EADC75;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  vertical-align: 7px;
  margin-right: 3px;
}
body .barra-servicos {
  min-width: 980px;
  height: 237px;
  background: #F2F2F2;
  border-top: 1px solid #E5E5E5;
}
body .barra-servicos .conheca {
  height: 236px;
  background: url('../images/layout/conheca-bg.png') right top no-repeat;
  width: 230px;
  padding-left: 100px;
  margin-left: -100px;
  overflow: hidden;
  float: left;
}
body .barra-servicos .conheca .linha {
  height: 35px;
  line-height: 35px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #A0A0A0;
  display: block;
}
body .barra-servicos .conheca .linha.linha1 {
  margin-top: 55px;
  margin-left: 22px;
}
body .barra-servicos .conheca .linha.linha2 {
  margin-left: 30px;
}
body .barra-servicos .solucoes {
  width: 740px;
  height: 236px;
  float: right;
}
body .barra-servicos .solucoes a {
  display: block;
  height: 100%;
  float: left;
  text-decoration: none;
  text-align: center;
  padding-right: 55px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .barra-servicos .solucoes a span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: 300;
}
body .barra-servicos .solucoes a .icone {
  width: 95px;
  height: 95px;
  position: relative;
  margin: 38px auto 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .barra-servicos .solucoes a .sombra {
  width: 95px;
  height: 30px;
  margin: 0 auto 12px;
  background: url('../images/layout/icone-sombra.png') no-repeat center;
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .barra-servicos .solucoes a.recrutamento-e-selecao span {
  color: #57ADA1;
}
body .barra-servicos .solucoes a.recrutamento-e-selecao .icone {
  background: url('../images/layout/icone-recrutamento.png') no-repeat center;
}
body .barra-servicos .solucoes a.temporarios span {
  color: #A6C28B;
}
body .barra-servicos .solucoes a.temporarios .icone {
  background: url('../images/layout/icone-temporarios.png') no-repeat center;
}
body .barra-servicos .solucoes a.outsourcing-bpo span {
  color: #BFAF40;
}
body .barra-servicos .solucoes a.outsourcing-bpo .icone {
  background: url('../images/layout/icone-bpo.png') no-repeat center;
}
body .barra-servicos .solucoes:hover > a {
  opacity: .4;
}
body .barra-servicos .solucoes:hover > a:hover {
  opacity: 1;
}
body .barra-servicos .solucoes:hover > a:hover .sombra {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
body .barra-servicos .solucoes:hover > a:hover .icone {
  -ms-transform: translate(0, -10px);
  /* IE 9 */

  -webkit-transform: translate(0, -10px);
  /* Safari */

  transform: translate(0, -10px);
}
body footer {
  min-width: 980px;
  border-top: 5px #4d9e90 solid;
  background: url('../images/layout/bg.png');
}
body footer .centro {
  padding: 30px 0;
  background: url('../images/layout/footer-detalhe.png') no-repeat top center;
}
body footer .footer-coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body footer .footer-coluna ul.topmenu {
  list-style-type: none;
  line-height: 100%;
  max-width: 210px;
}
body footer .footer-coluna ul.topmenu li {
  margin-top: 20px;
  display: block;
}
body footer .footer-coluna ul.topmenu li:first-child {
  margin-top: 0;
}
body footer .footer-coluna ul.topmenu li a {
  padding-left: 18px;
  background: url('../images/layout/bullet-footer.png') left 6px no-repeat;
  color: #CAEF9E;
  display: block;
  line-height: 115%;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body footer .footer-coluna ul.topmenu li a:active,
body footer .footer-coluna ul.topmenu li a:visited {
  color: #CAEF9E;
}
body footer .footer-coluna ul.topmenu li a:hover {
  color: #fff;
  background: url('../images/layout/bullet-footer-hover.png') left 6px no-repeat;
}
body footer .footer-coluna ul.topmenu li.comsub ul.submenu {
  list-style-type: none;
  line-height: 100%;
  padding-left: 18px;
}
body footer .footer-coluna ul.topmenu li.comsub ul.submenu li {
  margin-top: 5px;
  display: block;
  padding-left: 15px;
  background: url('../images/layout/bullet-seta.png') left 4px no-repeat;
}
body footer .footer-coluna ul.topmenu li.comsub ul.submenu li a {
  padding-left: 0;
  background: none;
  color: #fff;
  text-transform: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body footer .footer-coluna ul.topmenu li.comsub ul.submenu li a:active,
body footer .footer-coluna ul.topmenu li.comsub ul.submenu li a:visited {
  color: #fff;
}
body footer .footer-coluna ul.topmenu li.comsub ul.submenu li a:hover {
  color: #46857F;
}
body footer .coluna1 {
  width: 260px;
  min-height: 255px;
}
body footer .coluna2 {
  min-height: 265px;
  width: 325px;
  position: relative;
}
body footer .coluna2 .grupo {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 40px;
}
body footer .coluna2 .grupo p {
  margin-right: 3px;
  padding-top: 7px;
  font-family: 'Calibri', sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 125%;
  text-align: left;
  color: #fff;
  display: block;
  margin-bottom: 7px;
  margin-left: 52px;
}
body footer .coluna3 {
  float: right;
  width: 300px;
  text-align: right;
  min-height: 255px;
  position: relative;
}
body footer .coluna3 .social {
  margin-bottom: 28px;
}
body footer .coluna3 .social .fb-link {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 36px;
  height: 36px;
  overflow: hidden;
  text-indent: 400px;
  line-height: 100%;
  font-size: 10px;
  background: url('../images/layout/footer-facebook.png') center center no-repeat;
}
body footer .coluna3 .social .fb-link:hover {
  background: url('../images/layout/footer-facebook-hover.png') center center no-repeat;
}
body footer .coluna3 .social .tw-link {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 36px;
  height: 36px;
  overflow: hidden;
  text-indent: 400px;
  line-height: 100%;
  font-size: 10px;
  background: url('../images/layout/footer-twitter.png') center center no-repeat;
}
body footer .coluna3 .social .tw-link:hover {
  background: url('../images/layout/footer-twitter-hover.png') center center no-repeat;
}
body footer .coluna3 .social .lk-link {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 36px;
  height: 36px;
  overflow: hidden;
  text-indent: 400px;
  line-height: 100%;
  font-size: 10px;
  background: url('../images/layout/footer-linkedin.png') center center no-repeat;
}
body footer .coluna3 .social .lk-link:hover {
  background: url('../images/layout/footer-linkedin-hover.png') center center no-repeat;
}
body footer .coluna3 .telefone {
  color: #fff;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 42px;
  font-weight: normal;
}
body footer .coluna3 .telefone small {
  font-size: 18px;
}
body footer .coluna3 .endereco {
  color: #fff;
  line-height: 120%;
  font-family: 'Calibri', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
body footer .coluna3 .privacy {
  font-family: 'Calibri', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-top: 20px;
  float: right;
  text-decoration: none;
  color: #46857F;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body footer .coluna3 .privacy:hover {
  color: #fff;
}
body footer .coluna3 .assinatura {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #46857F;
  font-family: 'Calibri', sans-serif;
  font-size: 11px;
  font-weight: normal;
}
body footer .coluna3 .assinatura a {
  float: right;
  width: 227px;
  display: block;
  text-decoration: none;
  color: #46857F;
  margin-top: 5px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body footer .coluna3 .assinatura a:active,
body footer .coluna3 .assinatura a:visited {
  color: #0596d5;
}
body footer .coluna3 .assinatura a:hover {
  color: #fff;
}
body footer .coluna3 .assinatura a img {
  margin-left: 4px;
  vertical-align: -3px;
}
