@import 'vars.less';

html{
	body{
		#faixa-azul-titulo{margin-bottom:55px !important;}
		.dep{
			font-size:0;
			margin-bottom:65px;
			.imagem{
				width:290px;
				.inline;
				img{
					display:block;
					margin:0 auto;
				}
			}
			.texto{
				.inline;
				margin-left:40px;
				width:570px;
				h2{
					color:#62BBB1;
					.ubuntu(24px);
					padding-left:20px;
					display:block;
					position:relative;
					&:before{
						.ubuntu(24px, bold);
						content:"•";
						color:#D5CB70;
						position:absolute;
						top:0;
						left:0;
					}
				}
				.autor{
					.calibri(14px);
					color:#A2BC86;
					font-style: italic;
				}
			}
		}
	}
}
