@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body #faixa-azul-titulo {
  margin-bottom: 55px !important;
}
html body .dep {
  font-size: 0;
  margin-bottom: 65px;
}
html body .dep .imagem {
  width: 290px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .dep .imagem img {
  display: block;
  margin: 0 auto;
}
html body .dep .texto {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-left: 40px;
  width: 570px;
}
html body .dep .texto h2 {
  color: #62BBB1;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: normal;
  padding-left: 20px;
  display: block;
  position: relative;
}
html body .dep .texto h2:before {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: bold;
  content: "•";
  color: #D5CB70;
  position: absolute;
  top: 0;
  left: 0;
}
html body .dep .texto .autor {
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #A2BC86;
  font-style: italic;
}
