@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html .barra-servicos {
  display: none !important;
}
html body .main {
  font-size: 0;
}
html body .main .form {
  margin: 50px 0 70px 0;
  width: 600px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .form h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #4d9e90;
  line-height: 100%;
  margin-bottom: 15px;
  border-bottom: 1px #E0E0E0 solid;
  padding-bottom: 15px;
}
html body .main .form h2 span {
  padding-bottom: 14px;
  border-bottom: 1px #4d9e90 solid;
}
html body .main .form h2 strong {
  font-weight: bold;
}
html body .main .form .enviado {
  background: url('../images/layout/icone-curriculo-enviado.png') #aed188 80px center no-repeat;
  border-radius: 4px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 25px 10px 25px 70px;
  line-height: 120%;
  text-align: center;
}
html body .main .form form input[type="text"],
html body .main .form form input[type="email"] {
  display: block;
  padding: 15px 10px;
  line-height: 110%;
  border: 1px #D2D2D2 solid;
  background: #fff;
  margin: 0 0 10px 0;
  color: #424242;
  width: 578px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .main .form form input[type="text"]::-webkit-input-placeholder,
html body .main .form form input[type="email"]::-webkit-input-placeholder {
  color: #d2d2d2;
}
html body .main .form form input[type="text"]:-moz-placeholder,
html body .main .form form input[type="email"]:-moz-placeholder {
  color: #d2d2d2;
}
html body .main .form form input[type="text"]::-moz-placeholder,
html body .main .form form input[type="email"]::-moz-placeholder {
  color: #d2d2d2;
}
html body .main .form form input[type="text"]:-ms-input-placeholder,
html body .main .form form input[type="email"]:-ms-input-placeholder {
  color: #d2d2d2;
}
html body .main .form form input[type="text"]#input-email,
html body .main .form form input[type="email"]#input-email {
  width: 273px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .form form input[type="text"]#input-telefone,
html body .main .form form input[type="email"]#input-telefone {
  width: 273px;
  margin-left: 10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .form form textarea {
  resize: none;
  overflow: auto;
  padding: 15px 10px;
  line-height: 110%;
  border: 1px #D2D2D2 solid;
  background: #fff;
  margin: 0 0 10px 0;
  color: #424242;
  width: 578px;
  height: 140px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .main .form form textarea::-webkit-input-placeholder {
  color: #d2d2d2;
}
html body .main .form form textarea:-moz-placeholder {
  color: #d2d2d2;
}
html body .main .form form textarea::-moz-placeholder {
  color: #d2d2d2;
}
html body .main .form form textarea:-ms-input-placeholder {
  color: #d2d2d2;
}
html body .main .form form .enviar {
  height: 38px;
  text-align: right;
}
html body .main .form form .enviar button {
  border: 0;
  margin-right: 5px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 11px 20px;
  line-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #AED188;
  text-decoration: none;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 0px 2px 0 0px #E5E5E5;
  box-shadow: 0 2px 0 0px #E5E5E5;
  cursor: pointer;
}
html body .main .form form .enviar button:active,
html body .main .form form .enviar button:visited {
  color: #4d9e90;
}
html body .main .form form .enviar button:hover {
  background: #4d9e90;
}
html body .main .form form .enviar button span {
  display: block;
}
html body .main .info {
  margin: 50px 0 70px 70px;
  width: 310px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .info h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #4d9e90;
  line-height: 100%;
  margin-bottom: 15px;
  border-bottom: 1px #E0E0E0 solid;
  padding-bottom: 15px;
}
html body .main .info h2 span {
  padding-bottom: 14px;
  border-bottom: 1px #4d9e90 solid;
}
html body .main .info h2 strong {
  font-weight: bold;
}
html body .main .info .telefone {
  color: #4d9e90;
  white-space: nowrap;
  margin-bottom: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
  font-weight: normal;
}
html body .main .info .telefone small {
  font-size: 24px;
}
html body .main .info .endereco {
  line-height: 150%;
  color: #919191;
  margin-bottom: 100px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
html body .main .info .assinatura p {
  font-family: 'Calibri', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #B4B4B4;
  line-height: 130%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 85px;
  padding-top: 8px;
  margin-right: 15px;
  text-align: right;
}
html body .main .info .assinatura img {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
