@import 'vars.less';
html{
	body{
		.conteudo{
			font-size: 0;
			.imagem{
				margin-bottom:75px;
				width:390px;
				border-radius: 8px;
				overflow:hidden;
				.inline;
				img{
					max-width:390px;
					display: block;
				}
			}
			.texto{
				margin-bottom:75px;
				margin-right:35px;
				.inline;
				width:550px;
				p {line-height: 1.4 !important;}
				p:first-child{margin-top:0;}
				.link-quemsomos{
					margin-top: 15px;
					.inline;
					padding:11px 20px;
					line-height: 100%;
					.ubuntu(14px, bold);
					color:#fff;
					background:#AED188;
					text-decoration: none;
					border-radius: 8px;
					.transition;
					-webkit-box-shadow: 0px 2px 0 0px #E5E5E5;
					box-shadow: 0 2px 0 0px #E5E5E5;
					cursor:pointer;
					&:active, &:visited{color:@verde;}
					&:hover{
						background:@verde;
					}
					span { color: #fff; }
				}
			}
		}
	}
}
