@import './vars.less';

.main{
	#slides-home{
		min-width:980px;
		width:100%;
		max-width:100%;
		position:relative;
		#slides{
			width:100%;
			max-width:100%;
			.slide{
				height:410px;
				width:100%;
				max-width:100%;
				a{
					width:100%;
					max-width:100%;
					height:410px;
					overflow:hidden;
					display:block;
					position:relative;
					background-size: cover;
					background-position: center top;
					background-repeat: no-repeat;
					.transition;
					img{display:none;}
				}
			}
		}
		.overlay{
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			z-index:9999;
			.centro{position:relative; height:410px;}
			.bg{
				position: absolute;
				right:-90px;
				width:585px;
				height:410px;
				background:url('../images/layout/slider-bg.png') no-repeat center;
				.arrow{
					display:block;
					position:absolute;
					width:314px;
					height:5px;
					left:134px;
					top:74px;
					background:url('../images/layout/slider-arrow.png') no-repeat center;
					.transition;
				}
				&:hover .arrow{
					background:url('../images/layout/slider-arrow-hover.png') no-repeat center;
				}
				.texto-wrapper{
					display:table;
					position:absolute;
					width:400px;
					height:230px;
					left: 87px;
					top: 90px;
				.texto{
						display:table-cell;
						vertical-align: middle;
						text-align:center;
						color:#fff;
						line-height:1.2;
						.transition;
						text-shadow: 0 2px 0 rgba(0,0,0,.15);
						.ubuntu(36px,300);
					}
				}
				&:hover .texto{
					color:#CAEF9E;
				}
			}
			#slides-nav{
				position:absolute;
				z-index:9999;
				bottom:66px;
				left:618px;
				border-radius:4px;
				overflow:hidden;
				box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
				a{
					display:block;
					z-index:10000;
					width:76px;
					height:12px;
					float:left;
					margin-right:2px;
					&:last-child{margin:0}
					background:#84D3CC;
					.transition;
					&:hover{
						background:#AEE1DD;
					}
					&.activeSlide{
						background-color:#fff;
					}
				}
			}
		}
	}
}
