@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
.main #slides-home {
  min-width: 980px;
  width: 100%;
  max-width: 100%;
  position: relative;
}
.main #slides-home #slides {
  width: 100%;
  max-width: 100%;
}
.main #slides-home #slides .slide {
  height: 410px;
  width: 100%;
  max-width: 100%;
}
.main #slides-home #slides .slide a {
  width: 100%;
  max-width: 100%;
  height: 410px;
  overflow: hidden;
  display: block;
  position: relative;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main #slides-home #slides .slide a img {
  display: none;
}
.main #slides-home .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
.main #slides-home .overlay .centro {
  position: relative;
  height: 410px;
}
.main #slides-home .overlay .bg {
  position: absolute;
  right: -90px;
  width: 585px;
  height: 410px;
  background: url('../images/layout/slider-bg.png') no-repeat center;
}
.main #slides-home .overlay .bg .arrow {
  display: block;
  position: absolute;
  width: 314px;
  height: 5px;
  left: 134px;
  top: 74px;
  background: url('../images/layout/slider-arrow.png') no-repeat center;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main #slides-home .overlay .bg:hover .arrow {
  background: url('../images/layout/slider-arrow-hover.png') no-repeat center;
}
.main #slides-home .overlay .bg .texto-wrapper {
  display: table;
  position: absolute;
  width: 400px;
  height: 230px;
  left: 87px;
  top: 90px;
}
.main #slides-home .overlay .bg .texto-wrapper .texto {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px;
  font-weight: 300;
}
.main #slides-home .overlay .bg:hover .texto {
  color: #CAEF9E;
}
.main #slides-home .overlay #slides-nav {
  position: absolute;
  z-index: 9999;
  bottom: 66px;
  left: 618px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}
.main #slides-home .overlay #slides-nav a {
  display: block;
  z-index: 10000;
  width: 76px;
  height: 12px;
  float: left;
  margin-right: 2px;
  background: #84D3CC;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main #slides-home .overlay #slides-nav a:last-child {
  margin: 0;
}
.main #slides-home .overlay #slides-nav a:hover {
  background: #AEE1DD;
}
.main #slides-home .overlay #slides-nav a.activeSlide {
  background-color: #fff;
}
