@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .main .conteudo .texto {
  width: 550px;
  margin-bottom: 75px;
  font-size: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .conteudo .texto p {
  line-height: 1.3 !important;
}
html body .main .conteudo .texto p:first-child {
  margin-top: 0;
}
html body .main .conteudo .texto .link-diferenciais {
  margin-top: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 11px 20px;
  line-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #AED188;
  text-decoration: none;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 0px 2px 0 0px #E5E5E5;
  box-shadow: 0 2px 0 0px #E5E5E5;
  cursor: pointer;
}
html body .main .conteudo .texto .link-diferenciais:active,
html body .main .conteudo .texto .link-diferenciais:visited {
  color: #4d9e90;
}
html body .main .conteudo .texto .link-diferenciais:hover {
  background: #4d9e90;
}
html body .main .conteudo .texto .link-diferenciais span {
  color: #fff;
}
html body .main .conteudo .imagem {
  margin-right: 35px;
  margin-bottom: 75px;
  width: 390px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border-radius: 8px;
  overflow: hidden;
}
html body .main .conteudo .imagem img {
  max-width: 390px;
  display: block;
}
