@import 'vars.less';

html{ .barra-servicos{display:none !important;} }

.main-solucoes {
    #faixa-azul-titulo { margin-bottom: 0 !important; }

    .conteudo .centro {
        position: relative;
        & * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        &:before, &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }

        aside {
            width: 290px;
            min-height: 400px;
            float: left;
            display: block;
            position: relative;
            z-index: 10;
            background: #F2F2F2;

            .selecionado {
                width: 100%;
                height: 211px;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 4px;
                    height: 100%;
                    .transition;
                }
                &.recrutamento-e-selecao{
                    background: url('../images/layout/solucoes-recrutamento.png') no-repeat center 40px;
                    &:after { background: #62BBB1; }
                }
                &.temporarios{
                    background: url('../images/layout/solucoes-temporarios.png') no-repeat center 40px;
                    &:after { background: #A6C28B; }
                }
                &.outsourcing-bpo{
                    background: url('../images/layout/solucoes-bpo.png') no-repeat center 40px;
                    &:after { background: #D5CB70; }
                }
                &.remove-line:after { background: transparent !important; }
            }

            .solucao {
                display: block;
                position: relative;
                width: 100%;
                height: 50px;
                margin-top: 1px;
                text-decoration: none;
                .ubuntu(17px);
                .icone {
                    display: block;
                    width: 50px;
                    height: 100%;
                    float: left;
                    margin: 0 5px 0 0;
                }
                &.recrutamento-e-selecao{
                    .icone { background: url('../images/layout/solucoes-recrutamento-thumb.png') no-repeat center; }
                    span { color: #62BBB1; }
                    &:hover:after { background: #62BBB1; }
                }
                &.temporarios{
                    .icone { background: url('../images/layout/solucoes-temporarios-thumb.png') no-repeat center; }
                    span { color: #A6C28B; }
                    &:hover:after { background: #A6C28B; }
                }
                &.outsourcing-bpo{
                    .icone { background: url('../images/layout/solucoes-bpo-thumb.png') no-repeat center; }
                    span { color: #C6B347; }
                    &:hover:after { background: #D5CB70; }
                }

                span {
                    line-height: 50px;
                    .transition;
                }
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 4px;
                    height: 100%;
                    .transition;
                }
                &:hover span {
                    margin-left: 5px;
                }
            }
        }

        .aside-bg {
            background: #F2F2F2;
            position: absolute;
            height: 100%;
            left: 290px;
            padding-left: 100%;
            margin-left: -100%;
            background-color: #F2F2F2;
            border-right: 1px solid #E5E5E5;
        }
        .linhas {
            background: #E5E5E5;
            position: absolute;
            height: 1px;
            left: 290px;
            padding-left: 100%;
            margin-left: -100%;
            top: 262px;
            z-index: 11;
            &:before, &:after {
                content: "";
                position: absolute;
                background: #E5E5E5;
                height: 1px;
                right: 0;
                width: 100%;
                z-index: 11;
            }
            &:before { top: -51px; }
            &:after { top: 51px; }
        }

        section {
            float: left;
            width: 540px;
            margin: 60px 0 60px 75px;
            h2 {
                .ubuntu(36px, 300);
                margin-bottom: 30px;
            }
            strong { font-weight: bold; }
            em { font-style: italic; }
            p {
                .ubuntu(16px);
                color: #5A5A5A;
                margin-bottom: 15px;
            }
            ul {
                .ubuntu(16px);
                color: #5A5A5A;
                line-height: 1.6;
                li {
                    position: relative;
                    padding-left: 24px;
                    margin-bottom: 15px;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: 0;
                        width: 9px;
                        height: 3px;
                    }
                }
            }
            &.recrutamento-e-selecao{
                h2 { color: #62BBB1; }
                ul li:before {
                    background: url('../images/layout/solucoes-recrutamento-bullet.png') no-repeat center;
                }
            }
            &.temporarios{
                h2 { color: #A6C28B; }
                ul li:before {
                    background: url('../images/layout/solucoes-temporarios-bullet.png') no-repeat center;
                }
            }
            &.outsourcing-bpo{
                h2 { color: #C6B347; }
                ul li:before {
                    background: url('../images/layout/solucoes-bpo-bullet.png') no-repeat center;
                }
            }
        }
    }
}
