@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html .barra-servicos {
  display: none !important;
}
.main-solucoes #faixa-azul-titulo {
  margin-bottom: 0 !important;
}
.main-solucoes .conteudo .centro {
  position: relative;
}
.main-solucoes .conteudo .centro * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-solucoes .conteudo .centro:before,
.main-solucoes .conteudo .centro:after {
  content: "";
  display: table;
}
.main-solucoes .conteudo .centro:after {
  clear: both;
}
.main-solucoes .conteudo .centro aside {
  width: 290px;
  min-height: 400px;
  float: left;
  display: block;
  position: relative;
  z-index: 10;
  background: #F2F2F2;
}
.main-solucoes .conteudo .centro aside .selecionado {
  width: 100%;
  height: 211px;
  position: relative;
}
.main-solucoes .conteudo .centro aside .selecionado:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main-solucoes .conteudo .centro aside .selecionado.recrutamento-e-selecao {
  background: url('../images/layout/solucoes-recrutamento.png') no-repeat center 40px;
}
.main-solucoes .conteudo .centro aside .selecionado.recrutamento-e-selecao:after {
  background: #62BBB1;
}
.main-solucoes .conteudo .centro aside .selecionado.temporarios {
  background: url('../images/layout/solucoes-temporarios.png') no-repeat center 40px;
}
.main-solucoes .conteudo .centro aside .selecionado.temporarios:after {
  background: #A6C28B;
}
.main-solucoes .conteudo .centro aside .selecionado.outsourcing-bpo {
  background: url('../images/layout/solucoes-bpo.png') no-repeat center 40px;
}
.main-solucoes .conteudo .centro aside .selecionado.outsourcing-bpo:after {
  background: #D5CB70;
}
.main-solucoes .conteudo .centro aside .selecionado.remove-line:after {
  background: transparent !important;
}
.main-solucoes .conteudo .centro aside .solucao {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 1px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  font-weight: normal;
}
.main-solucoes .conteudo .centro aside .solucao .icone {
  display: block;
  width: 50px;
  height: 100%;
  float: left;
  margin: 0 5px 0 0;
}
.main-solucoes .conteudo .centro aside .solucao.recrutamento-e-selecao .icone {
  background: url('../images/layout/solucoes-recrutamento-thumb.png') no-repeat center;
}
.main-solucoes .conteudo .centro aside .solucao.recrutamento-e-selecao span {
  color: #62BBB1;
}
.main-solucoes .conteudo .centro aside .solucao.recrutamento-e-selecao:hover:after {
  background: #62BBB1;
}
.main-solucoes .conteudo .centro aside .solucao.temporarios .icone {
  background: url('../images/layout/solucoes-temporarios-thumb.png') no-repeat center;
}
.main-solucoes .conteudo .centro aside .solucao.temporarios span {
  color: #A6C28B;
}
.main-solucoes .conteudo .centro aside .solucao.temporarios:hover:after {
  background: #A6C28B;
}
.main-solucoes .conteudo .centro aside .solucao.outsourcing-bpo .icone {
  background: url('../images/layout/solucoes-bpo-thumb.png') no-repeat center;
}
.main-solucoes .conteudo .centro aside .solucao.outsourcing-bpo span {
  color: #C6B347;
}
.main-solucoes .conteudo .centro aside .solucao.outsourcing-bpo:hover:after {
  background: #D5CB70;
}
.main-solucoes .conteudo .centro aside .solucao span {
  line-height: 50px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main-solucoes .conteudo .centro aside .solucao:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main-solucoes .conteudo .centro aside .solucao:hover span {
  margin-left: 5px;
}
.main-solucoes .conteudo .centro .aside-bg {
  background: #F2F2F2;
  position: absolute;
  height: 100%;
  left: 290px;
  padding-left: 100%;
  margin-left: -100%;
  background-color: #F2F2F2;
  border-right: 1px solid #E5E5E5;
}
.main-solucoes .conteudo .centro .linhas {
  background: #E5E5E5;
  position: absolute;
  height: 1px;
  left: 290px;
  padding-left: 100%;
  margin-left: -100%;
  top: 262px;
  z-index: 11;
}
.main-solucoes .conteudo .centro .linhas:before,
.main-solucoes .conteudo .centro .linhas:after {
  content: "";
  position: absolute;
  background: #E5E5E5;
  height: 1px;
  right: 0;
  width: 100%;
  z-index: 11;
}
.main-solucoes .conteudo .centro .linhas:before {
  top: -51px;
}
.main-solucoes .conteudo .centro .linhas:after {
  top: 51px;
}
.main-solucoes .conteudo .centro section {
  float: left;
  width: 540px;
  margin: 60px 0 60px 75px;
}
.main-solucoes .conteudo .centro section h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 30px;
}
.main-solucoes .conteudo .centro section strong {
  font-weight: bold;
}
.main-solucoes .conteudo .centro section em {
  font-style: italic;
}
.main-solucoes .conteudo .centro section p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #5A5A5A;
  margin-bottom: 15px;
}
.main-solucoes .conteudo .centro section ul {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #5A5A5A;
  line-height: 1.6;
}
.main-solucoes .conteudo .centro section ul li {
  position: relative;
  padding-left: 24px;
  margin-bottom: 15px;
}
.main-solucoes .conteudo .centro section ul li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 9px;
  height: 3px;
}
.main-solucoes .conteudo .centro section.recrutamento-e-selecao h2 {
  color: #62BBB1;
}
.main-solucoes .conteudo .centro section.recrutamento-e-selecao ul li:before {
  background: url('../images/layout/solucoes-recrutamento-bullet.png') no-repeat center;
}
.main-solucoes .conteudo .centro section.temporarios h2 {
  color: #A6C28B;
}
.main-solucoes .conteudo .centro section.temporarios ul li:before {
  background: url('../images/layout/solucoes-temporarios-bullet.png') no-repeat center;
}
.main-solucoes .conteudo .centro section.outsourcing-bpo h2 {
  color: #C6B347;
}
.main-solucoes .conteudo .centro section.outsourcing-bpo ul li:before {
  background: url('../images/layout/solucoes-bpo-bullet.png') no-repeat center;
}
